.container {
  border: 1px solid black;
  display: flex;
  /* align-items: stretch; */
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
}

.container div {
  background-color: lightgray;
  margin: .5rem;
  border: 1px solid black;
  /* display: inline-block; */
  /* float: right; */
  max-width: 30rem;
  /* height: 10rem; */
}

/* div:nth-child(2),
div:nth-child(3),
div:nth-child(4) {
  /* position: relative;
  top: -10rem; */
/* }  */

/* div:first-child {
  flex-basis: 40%;
  flex-shrink: 0;
  flex-grow: 3;
  max-height: 10rem;
  overflow: auto;
} */
